<%= form_with(model: @listing, data: {turbo: false}) do |f| %>
    <fieldset class="mb-2">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </fieldset>
    <fieldset class="mb-2">
        <%= f.label :description %>
        <%= f.text_area :description %>
    </fieldset>
    <fieldset class="input-group mb-3">
        <%= f.label :price %>
        <span class="input-group-text">$</span>
        <%= f.number_field :price, in: 0..1000, step: 0.01, class: 'form-control' %>
    </fieldset>
    <% if @listing.cover_image.attached? %>
        <fieldset class="mb-2">
        <%= cl_image_tag @listing.cover_image.key, transformation: ["media_lib_thumb"], cloud_name: ENV['CLOUDINARY_CLOUD_NAME'] %>
        </fieldset>
    <% end %>
    <fieldset class="mb-2">
        <%= f.label :cover_image %>
        <%= f.file_field :cover_image %>
    </fieldset>
    <fieldset>
        <%= f.submit class: "btn btn-primary btn-sm" %>
    </fieldset>
<% end %>