<div class="d-flex flex-wrap justify-content-center">
    <div class="card m-3 listing-card full">
        <%= cl_image_tag(@listing.cover_image.key, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], width: 600, height: 200, crop: "fill") if @listing.cover_image.attached? %>
        <%= image_tag("no_image.jpg", width: 600, height: 200) if !@listing.cover_image.attached? %>
        <div class="card-body">
            <h5 class="card-title"><%= @listing.name %></h5>
            <p class="card-text"><%= @listing.description %></p>
            <p class="card-text">Price: $<%= @listing.price %></p>
        </div>

        <% if policy(@listing).edit_or_destroy? && current_user.id == @listing.user_id %>
            <div class="btn-toolbar mt-3">
                <%= link_to('Edit', edit_listing_path(@listing), class: 'btn btn-warning me-2') if policy(@listing).edit? %>
            
                <% if policy(@listing).destroy? %>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete
                    </button>
                <% end %>
            </div>
        <% elsif current_user && current_user.id != @listing.user_id && @listing.status == "available" %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buyModal">
                Buy Now
            </button>
        <% end %>
    </div>
</div>

<!-- Modal for delete button -->
<% if policy(@listing).destroy? %>
    <%= render partial: 'shared/modal', locals: {
        id: 'deleteModal', 
        title: 'Delete?', 
        body: "Are you sure you want to delete #{@listing.name}?", 
        button_text: 'Delete',
        model: @listing,
        button_class: 'btn btn-danger',
        method: :delete
    } %>
<% end %>

<!-- Modal for buy button -->
<% if current_user && current_user.id != @listing.user_id && @listing.status == "available" %>
    <%= render partial: 'shared/modal', locals: {
        id: 'buyModal', 
        title: 'Purchase?', 
        body: "Are you sure you want to purchase #{@listing.name} for $#{@listing.price}?", 
        button_text: 'Confirm',
        model: @listing,
        button_class: 'btn btn-danger',
        method: :purchase
    } %>
<% end %>